/* Coolors Exported Palette - coolors.co/c66f82-f2a379-38a2ff-6c4b5e-4acebf */

/* HSL */
$color1: hsla(347%, 43%, 61%, 1);
$color2: hsla(21%, 82%, 71%, 1);
$color3: hsla(208%, 100%, 61%, 1);
$color4: hsla(325%, 18%, 36%, 1);
$color5: hsla(173%, 57%, 55%, 1);

/* RGB */
$color1: rgba(198, 111, 130, 1);
$color2: rgba(242, 163, 121, 1);
$color3: rgba(56, 162, 255, 1);
$color4: rgba(108, 75, 94, 1);
$color5: rgb(105, 231, 217);